
@import url('https://fonts.googleapis.com/css2?family=EB+Garamond:ital,wght@0,400..800;1,400..800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lilita+One&display=swap');


header{
    background-size: cover;
    background-position: center;
    text-align: center;
    padding: 100px 0;
    position: static;
}

#homePic {
    background-image: url(../media/12022300.JPG);
}

#aboutPic {
    background-image: url(../media/10440700.JPG);
}

#photographyBG {
    background-image: url(../media/photographyPics/octoEye.JPG);
}

#projectsBG {
    background-image: url(../media/photographyPics/shipSunk.JPG);
}

#flightTracker {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

body {
    background-color: #98D2EB;
}

h1 {
    font-family: "EB Garamond", serif;
    font-optical-sizing: auto;
    color: #F2E86D;
    font-size: 5vmin;
    text-shadow:
		-1px -1px 0 #000,
		1px -1px 0 #000,
		-1px 1px 0 #000,
		1px 1px 0 #000;
}

h2 {
    font-family: "EB Garamond", serif;
    text-shadow:
		-1px -1px 0 #000,
		1px -1px 0 #000,
		-1px 1px 0 #000,
		1px 1px 0 #000;
}

nav {
    background-color: #F2E86D;
    overflow: hidden;
    position: static;
    bottom: 0;
    width: 100%;
    text-align: center;
}

img{
    width: 40vw;
    height: 40vh;
    object-fit: contain
}

.navText {
    font-family: "EB Garamond", serif;
    font-optical-sizing: auto;
    color: blue;
    text-align: center;
    padding: 14px 16px;
    display: inline-block;
    font-size: 2vmin;

}

.navImage {
    float: left;
    bottom: 0%;
    padding: 14px 16px;
    height: 50px;
    width: 50px;

}

#current {
    color: red;
}

p {
    text-align: center;
    padding: 0% 25%;
    text-shadow:
		-1px -1px 0 #000,
		1px -1px 0 #000,
		-1px 1px 0 #000,
		1px 1px 0 #000;
    font-size: 2vmin;
    
}

.opaque-box {
    background-color: rgba(0, 0, 0, 0.5); /* Change the last value (alpha) to adjust opacity */
    padding: 10px; /* Adjust padding to create space around the text */
    color: white; /* Set text color */
    display: inline-block; /* Ensure the box wraps around the text */
    margin-right: 25%;
    margin-left: 25%;
    margin-top: 2%;
    margin-bottom: 2%;
    font-family: "Lilita One", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.photography {
    height: 50%;
    width: 50%;
    padding-left: 25%;
}