@font-face {
  font-family: 'Snowbell';
  src: url('Snowbell.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

body {
    font-family: 'Snowbell';
    margin: 20px;
    background-color:  #018281 ;
    padding-bottom: 3em;
}

html, body {
    height: 100%;
    margin: 0;
    padding: 0;
    overflow: hidden;
    box-sizing: border-box;
}

/*Clippy */

#intro {
    position: fixed;
    right: 0;
    bottom: 7%;
    margin: 0;
    text-align: right;
}

#clippy {
    float: right;
    width: 12vw;
}

.clippy-text {
    font-size: 0.55vw;
    background-color: #ffff00;
    padding-top: 0.5px;
    color: black;
    text-align: center;
    /*margin-right: 15%;
    margin-left: 65%;*/
}

.clippy-text > p {
    margin-left: 8%;
    margin-right: 8%;
    margin-bottom: 2%;
}

#clippy-advice {
    position: fixed;
    bottom: 20%;
    right: 2.5%;
    margin-left: 50%;
}

/* Desktop Icons */

.icons {
    text-align: center;
    margin-right: 90%;
    font-size: 0.52vw;
    /*font-size: 80%;*/
    color: black;
}

.icons img {
    width: 40%;
    margin-top: 10%;
}

.icons a {
    color: white;
    text-decoration: none;
    -webkit-text-stroke: black 0.33px;
}

.icons > a {
    position: relative;
    display: inline-block;
}

/* Icon Hover Effect */

.icons > a::after {
    content: "";
    position: absolute;
    top: 10%; left: 20%; right: 20%; bottom: 20%;
    background: rgba(255,255,255,0.2); 
    opacity: 0;
    pointer-events: none;
    transition: opacity 0.2s;
}

.icons > a:hover::after {
    opacity: 1;
}

/* Taskbar */

footer {
    background-color: #c0c0c0;
    font-size: 0.42vw;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    text-align: center;
    padding: 0.25%;
    border-top: white 2px solid;
}

#time {
    text-align: right;
    margin-right: 2%;
}

#start {
    float: left;
    width: 4vw;
}

#program {
    float: left;
    width: 6.5vw;
    margin-left: 1%;
    margin-top: -0.25%;
    text-align: left;
    display: flex;
    gap: 5%;
    margin-top: -0.05%;
    border-top: white 2px solid;
    border-left: white 2px solid;
    border-bottom: black 2px solid;
    border-right: black 2px solid;

}

#program img {
    width: 1.5vw;
    height: 1.5vw;
    padding-bottom: 2%;
}

#program p {
    margin-top: 9%;
    
}

/* Windows Tabs */

.windows-tab {
    background-color: #c0c0c0;
    display: inline-block;
    padding-left: 8px;
    padding-right: 4px;
    padding-top: 4px;
    width: fit-content;
    text-align: right;
    margin-left: 40vw;
    margin-right: 10vw;
    border-top: white 2px solid;
    border-left: white 2px solid;
    border-bottom: black 2px solid;
    border-right: black 2px solid;
}

#intro, .icons, footer {
    max-width: 100vw;
    max-height: 100vh;
    overflow: hidden;
}

.tab-bar {
    background-color:#000080;
}


.tab-bar > p {
    color: white;
    font-size: 0.4vw;
    margin-left: 2px;
    margin-top: -0.5vw;
    text-align: left !important;
}

.tab-bar img {
    width: 2.5vw;
}

#projects-list {
    margin-top: -20%;
    margin-right: 20%;
    margin-left: -20%;
    pointer-events: none;
}

#projects-list p {
    margin-left: 3px;
    margin-right: 3px;
    text-align: justify !important;
    pointer-events: auto !important;
}

#projects-list h3 {
    text-align: center !important;
}

#project-image {
    float: left !important;
    border: black 2px solid;
    margin-right: 3px;
    margin-bottom: 3px;
    width: 50%;
}

#projects {
    font-size: 0.7vw;
}